<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center page-title">COVID-19 TRACKER</h1>
        </div>
        <div class="col-md-4">
            <h5> Daily updates:as on, 08:00 IST (GMT+5:30)</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-number-card [totalConfirmed]='totalConfirmed' [totalActive]='totalActive' [totalRecoverd]='totalRecoverd' [totalDeath]='totalDeath'>

            </app-number-card>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="ui form">
                <div class="inline fields">
                    <label>Select case type :</label>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="c" value="c" type="radio" #c (click)='updateChart(c)' tabindex="0" class="hidden" name="casetype" checked="checked">
                            <label for="c">Confirmed</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="a" value="a" type="radio" #a (click)='updateChart(a)' class="hidden" tabindex="0" name="casetype">
                            <label for="a">Active</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="r " value="r" type="radio" #r (click)='updateChart(r)' class="hidden" tabindex="0" name="casetype">
                            <label for="r">Recovered</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="d" value="d" type="radio" #d (click)='updateChart(d)' class="hidden" tabindex="0" name="casetype">
                            <label for="d">Deaths</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <google-chart [data]="pieChart"></google-chart>
        </div>
        <div class="col-md-6">
            <google-chart [data]="columnChart"></google-chart>
        </div>
    </div>


</div>