<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center page-title">COVID-19 TRACKER</h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="card card-confirm">
                <div class="card-body text-center">
                    <p class="card-text">TOTAL CONFIRMED</p>
                    <hr>
                    <h2 class="card-title">{{totalConfirmed}}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-active">
                <div class="card-body text-center">
                    <p class="card-text">TOTAL <br> ACTIVE</p>
                    <hr>
                    <h2 class="card-title">{{totalActive}}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-recover">
                <div class="card-body text-center">
                    <p class="card-text">TOTAL RECOVERED</p>
                    <hr>
                    <h2 class="card-title">{{totalRecoverd}}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-death">
                <div class="card-body text-center">
                    <p class="card-text">TOTAL <br> DEATH</p>
                    <hr>
                    <h2 class="card-title">{{totalDeath}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>