<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">COVID-19 TRACKER</h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">TOTAL CONFIRMED</h5>
                    <hr>
                    <p class="card-text">{{totalConfirmed}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">TOTAL ACTIVE</h5>
                    <hr>
                    <p class="card-text">{{totalActive}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">TOTAL RECOVERED</h5>
                    <hr>
                    <p class="card-text">{{totalRecoverd}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">TOTAL DEATH</h5>
                    <hr>
                    <p class="card-text">{{totalDeath}}</p>
                </div>
            </div>
        </div>
    </div>
</div>