<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title text-center">COVID-19 COUNTRY WISE CASES</h1>
        </div>
    </div>
    <hr>
    <div class="mx-auto">
        <div class="form-group col-lg-5 mx-auto">
            <label for="c">Select Country</label>
            <select name="" id="c" class="form-control" #input (change)='updateVaule(input.value)'>
                <option *ngFor='let con of countries' value="{{con}}">{{con}}</option>
            </select>
        </div>
    </div>

    <app-number-card [totalConfirmed]='totalConfirmed' [totalActive]='totalActive' [totalRecoverd]='totalRecoverd' [totalDeath]='totalDeath'>

    </app-number-card>
</div>